@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Welcome @ViewData["UserName"]</p>
    <a asp-controller="Login" asp-action="Logout">Logout</a>
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameForInnerType((Student m) => m.Id)</th>
        <th>@Html.DisplayNameForInnerType((Student m) => m.FirstName)</th>
        <th>@Html.DisplayNameForInnerType((Student m) => m.LastName)</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
        </tr>
    }
</table>

<a asp-controller="Home" asp-action="Create">Create</a>